*{
    margin: 0;
    font-family: 'Work Sans';
}
.container{
   margin: 92px 182px;
}
.btn-primary{
    padding: 20px 30px;
    color: orange;
    font-size: 16px;
    font-weight: 800;
    background-color: white;
    border-radius: 8px;
    border: none;
}
/* nav style */
.header{
    background-color: #CACACF;

 }
nav {
    display: flex;
    justify-content: space-between;
    padding: 20px 150px;
}
.nav-title {
    font-weight: 800;
    font-size: 45px;
    color: darkgreen;
}
nav ul{
    display: flex;
    align-items: center;
  
}
nav li{
    list-style: none;
    margin-left: 50px;
}
.nav-anchor{
    text-decoration: none;
    padding: 20px 30px;
}
.nav-anchor:hover{
    padding: 20px 30px;
    color: white;
    font-size: 16px;
    font-weight: 800;
    background-color: #F15B22;
    border-radius: 10px;
    border: none;
    transition: all 0.3s linear;
}

/* banner style */
.banner{
    background-image: url(../images/banner/banner2.png);
    width: 100%;
    height: 720px;
}
.banner-info{
    padding: 214px;
   text-align: right;
   
}
.banner-subtitle{
    font-size: 40px;
    font-weight: 800;
}
.banner-description{
    padding: 30px 0;
    font-size: 15px;
}
.banner-btn{
    padding: 15px 20px;
    background-color: #F15B22;
    border: none;
    border-radius:7px;
    font-weight: 700;
    color: white;
}
/* about of failure section style*/
.about-of-failure{
    display: flex;
}
.failure{
    padding-top: 251px;
    padding-left: 100px;
}
.right-img{
    height: 10px;
    margin-right: 10px;
}
.failure-title{
    font-size: 40px;
    font-weight: 900;

}
.failure-description{
    margin-top: 30px;
    margin-bottom: 25px;
}
.failure li{
    list-style: none;
    margin-top: 5px;
}
/* plan style */
.plans-title{
    text-align: center;
    margin-top: 110px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 900;
}
.plan{
    display: flex;
    justify-content: center;
    
}
.plan-item{
   padding: 20px 80px;
   align-items: center;
}
.plan-item img{
    height: 60px;
    margin-left: 30px;
}
.plan-title{
    font-size: 18px;
    font-weight: 900;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: sans-serif;
    
}
.plan-description{

}
/* mindset style */
.mindset{
    background: rgb(219,58,18);
    background: linear-gradient(90deg, rgba(219,58,18,1) 0%, rgba(191,141,141,1) 100%, rgba(242,159,159,1) 100%);
    height: 238px;
    margin: 90px 0;
    
}
.mindset-description{
    padding: 52px 0 0 52px;
}
.mindset-title{
    margin-bottom: 15px;
    color: white;
    font-weight: 800;
}

/* footer style */
.footer{
    background-color: black;
    color: white;
    display: flex;
    
}
.footer-form{
    padding: 111px 80px 50px 427px;
}
.footer-intro{
    padding: 107px 0 90px 170px;
}
.footer-form input[type="email"]{
    padding: 15px 40px 15px 20px;
    background-color: black;
    color: white;
    border: 1px solid white;
    border-radius: 10px;
    margin-top: 24px;
    margin-bottom: 10px;

}
.footer-description , .footer-number{
    margin: 20px 0;
}
.footer.img{
    height: 15px;
}
.img2{
    margin: 0 5px;
}